doctype html
html
  head
    meta(charset="UTF-8")
    title الإحصائيات
    link(rel="stylesheet", href="/css/style.css")

  body

    include includes/header

    h1 📊 إحصائيات المتجر

    .container

      .product
        h2 المنتجات
        h3 #{totalProducts}

      .product
        h2 المستخدمون
        h3 #{totalUsers}

      .product
        h2 الطلبات
        h3 #{totalOrders}

      .product
        h2 المبيعات
        h3 #{totalSales} $