doctype html
html
  head
    title My Shop
    link(rel="stylesheet", href="/css/style.css")

  body

    .nav
      a(href="/") الرئيسية
      a(href="/cart") 🛒 السلة (#{cartCount})

    block content