doctype html
html
  head
    meta(charset="UTF-8")
    title تم الطلب بنجاح
    link(rel="stylesheet", href="/css/style.css")

  body

    h1 🎉 تم استلام طلبك بنجاح

    p شكراً لتسوقك من متجر الخضروات

    br

    a(href="/")
      button العودة للمتجر 🛒

    a(href="/cart")
      button السلة